In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=cecd63102d276ad0a3ae5626543633153b609f5fa990378145320fda1ccf6f01
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [7]:
# Import PySpark and initialize a Spark session
from pyspark.sql import SparkSession

# Initialize SparkSession
sc = SparkSession.builder \
    .appName("PySpark Notebook Example") \
    .getOrCreate()

sc = spark.sparkContext

# Verify the Spark session is working
sc

In [8]:
data = [1,2,3,4,5,6,7,8,9,10]
rdd = sc.parallelize(data)

print("original rdd:",rdd.collect())

original rdd: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
rdd2 = rdd.map(lambda x: x * 2)

# Print the transformed RDD
print("RDD after map transformation (x2):", rdd2.collect())

RDD after map transformation (x2): [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
rdd3 = rdd2.filter(lambda x: x % 2 == 0)

#Print the filtered RDD
print("RDD after filter transformation (even numbers):", rdd3.collect())

RDD after filter transformation (even numbers): [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
sentences = ["Hello world", "PySpark is great", "RDD transformations"]

rdd4 = sc.parallelize (sentences)
words_rdd =  rdd4.flatMap(lambda sentence: sentence.split(" "))

# Print the flatMapped RDD
print("RDD after flatMap transformation (split into words):", words_rdd.collect())

RDD after flatMap transformation (split into words): ['Hello', 'world', 'PySpark', 'is', 'great', 'RDD', 'transformations']

In [12]:
result = rdd3.collect()
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [13]:
count = rdd3.count()
print(f"Number of elements:", count)

Number of elements: 10

In [14]:
total_sum = rdd.reduce(lambda x, y: x + y)
print(f"Total sum:{total_sum}")

Total sum:55