In [ ]:
%sql
# Create a Unity Catalog database
CREATE DATABASE IF NOT EXISTS catalog_example;

# Use the database
USE catalog_example;

# Create a table using the nyctaxi data
CREATE TABLE nyc_taxi_trips
USING DELTA
AS SELECT * FROM samples.nyctaxi.trips;

#Show the created tables
SHOW TABLES IN catalog_example;

In [ ]:
#Switch to the catalog and create a database
spark.sql("CREATE DATABASE IF NOT EXISTS catalog_example1")
spark.sql("USE catalog_example1")

#Create a new table using the nyctaxi data
df spark.table("samples.nyctaxi.trips")
df.write.format("delta").saveAsTable("catalog_example1.nyc_taxi_trips")

#Display the created tables
spark.sql("SHOW TABLES").show()

In [ ]:
%sql

#select the first rows from the nyc_taxi_trips table

select * from catalog_example1.nyc_taxi_trips limit 10

In [ ]:
#read the data from unity catalog using pyspark
df = spark.table("catalog_example1.nyc_taxi_trips")
df.show(10)

In [ ]:
%sql

#grant read access to a speacific user or group
grant select on catalog_example1.nyc_taxi_trips to 'dsfdsdf@gmail.com'

#grant full access to a user
grant all privileges on catalog_example1.nyc_taxi_trips to 'dsfdsdf@gmail.com'